<%- include('./partials/nav.ejs')%>
<br />
<br />
<br />
<br />
<center>
  Type in a term to search for in our Queen Songs database!
  <form action="/songsearch" method="GET">
    <input type="text" name="searchTerm" placeholder="song search term" />
    <button type="submit">submit</button>
  </form>
</center>

<br>
<br>
<h2>Search results:</h2>
<table>
  <tr>
    <th>Song ID</th>
    <th>Title</th>
    <th>Album</th>
    <th>Release Year</th>
    <th>Duration (seconds)</th>
  </tr>

  <% if (songObj.length > 0) { %>
  <% songObj.forEach((song) => { %>
  <tr>
    <td><%= song.song_id %></td>
    <td><%= song.title %></td>
    <td><%= song.album %></td>
    <td><%= song.release_year %></td>
    <td><%= song.duration_seconds %></td>
  </tr>
  <%})%>
  <% } %>
</table>